<footer class="footer py-5">
  <div class="container d-flex justify-content-center text-white">
      <span class="text-muted text-reset">MY GLORIOUS CREATION - DANAMITE 2022</span>
  </div>
</footer>
