<h1>Reset Password</h1>
<%= form_with url: password_reset_path do |f|%>
  <div>
    <%= f.label :email%>
    <%= f.email_field :email%>
  </div>
  <div>
    <%= f.submit "Send email"%>
  </div>
<% end %>
