<div class="row mb-5">
    <div class="col-sm-6">
        <h1>My plants</h1>
    </div>
    <div class="col-sm-6 d-flex justify-content-sm-end justify-content-start mt-sm-0 mt-3">
        <%= button_to "Add Plant", new_plant_path, method: :get, data: { turbo_frame: 'modal' }, :class => "btn btn-info btn-sm" %>
    </div>
</div>

<div id="plants" class="row mb-2">
    <%= render @plants %>
</div>

<div class="d-flex justify-content-center mb-sm-5 mb-4">
  <%= image_tag("plant_pot.gif", :alt => "pixel plant pot", :class => "plant-pot-image") %>
</div>

<hr class="text-primary"/>

<div class="row mt-4">
    <%= render "users/user", user: @user %>
</div>
