<section id="about"">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h4 class="card-title">Why?</h4>
          <p class="card-text">Water your plants can be easy to forget, or sometimes, </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h4 class="card-title">What?</h4>
          <p class="card-text">Weather watering sends reminders when it's time to water your plants based on the weather in your area.</p>
          Push watering reminder
          <p class="card-text">By calculating your plants daily water lost and the amount of water your plant requires, </p>
          <p class="card-text">By calculating your plants daily water lost and the amount of water your plant requires!</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <h4 class="card-title">How?</h4>
          <p class="card-text">By calculating your plants daily water lost and the amount of water your plant requires!</p>
          <p class="card-text">Weather watering calculates how much water your plant has lost using current weather data.</p>
        </div>
      </div>
    </div>
  </div>

</section>
